@import '/src/variables.scss';

.Category-list {
    list-style-position: inside;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;

    @media screen and (max-width:640px) {
        justify-content: flex-start;
    }

    li {
        margin: 10px 0px;

        .Category-link {
            margin: 5px;
            border-radius: 50px;
            color: #282c34;
            text-decoration: none;
            font-size: .7em;
            padding: 7px 15px;
            transition: color ease-in .1s;
        }

        &:nth-child(5n + 1) .Category-link{
            color: $primary-light;
            background-color: transparentize($bright-lilac, 0.3);
            &:hover {
                background-color: $bright-lilac;
            }
        }
        &:nth-child(5n + 2) .Category-link{
            background-color: transparentize($bright-green, 0.3);
            &:hover {
                background-color: $bright-green;
            }
        }
        &:nth-child(5n + 3) .Category-link{
            color: $primary-light;
            background-color: transparentize($bright-pink, 0.3);
            &:hover {
                background-color: $bright-pink;
            }
        }
        &:nth-child(5n + 4) .Category-link{
            background-color: transparentize($bright-yellow, 0.3);
            &:hover {
                background-color: $bright-yellow;
            }
        }
        &:nth-child(5n + 5) .Category-link{
            background-color: transparentize($bright-blue, 0.3);
            &:hover {
                background-color: $bright-blue;
            }
        }

    }
}






