.Gif{
    border: none;
    // width: 33%;
    height: fit-content;
    position: relative;

    img {
        width: 100%;
        &:hover {
            border: 2px solid antiquewhite;
        }
    }
    h4 {
        color: antiquewhite;
        font-weight: 400;
        font-size: 12px;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        bottom: 8px;
        margin: 0px;
    }
}
