@import './variables.scss';

.App {
  text-align: center;

  .App-title {
    text-align: left;
  }
}

.App-content {
  background-color: $primary-dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: $primary-light;
  padding: 16px;
  box-sizing: border-box;
}

.Logo {
  font-family: $font-comforta;
  font-size: 80px;
  color: $primary-light;
  text-decoration: none;
  margin: 25px;
  font-weight: 700;

}

/*----------*/

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-results {
  flex-shrink: 2;
  width: 100%;
}

.App-category {
  flex-shrink: 4;
  margin-bottom: 25px;

  @media screen and (min-width: 640px) {
    width: 40%;
    max-width: 300px;
  }

  @media screen and (max-width: 950px) {
    width: 30%;
  }

  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .App-main {
    flex-direction: initial;
  }

  .App-category {
    padding: 0 2em;
    margin-bottom: 25px;
    position: sticky;
    top: 0;
  }
}