@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

//Colors
$primary-dark: #1E042E;
$primary-light: #FFFADE;
$bright-lilac: #B971E9;
$bright-green: #00E6CD;
$bright-yellow: #F9F871;
$bright-blue: #00DDFF;
$bright-pink: #F93ECE;

//Fonts
$font-comforta: 'Comfortaa', cursive;